@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');
/* .image {
  background-image: url("images/menutitle.svg");
  background-position: center;
  height:380px;
  margin-top:-20px;
} */

.root {
  background-color: #F4F3ED;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.headerLine {
  display: none;
  @media (min-width: 550px) {
    display: inline;
    position: relative;
    padding-top: 50px;
    margin: 0 2em 0 2em;
    width: 40%;
  }
}
.line {
  color: red;
}
.title {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight:700;
  font-size: 60px;
  padding: 2% 0 2% 0;
}
.days{
  text-align: center;
  font-size:20px;
}
.affix {
  font-family: 'Merriweather', serif;
}
.days {
  font-family: 'Merriweather', serif;
}
.mealtitle {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 1em;
}
.list-group-flush .list-group-item {
  background-color: #F4F3ED;
}
.menu {
  min-height: 250px;
  margin-bottom: 4em;
  @media (min-width: 550px) {
    margin: 0 0 8em 0;
  }
}
.image {
  display: inline;
  @media (min-width: 550px) {
    display: flex;
    width: 600px;
    height: auto;
  }
}
.timeWrapper {
  background-color: #CA7062;
  margin: 0 0 4em 0;
  display: flex;
  flex-direction: row;
  @viewport(min-width: 550px) {
    height: 500px;
  }
}
.imageWrapper {
  @viewport(min-width: 550px) {
    margin: 2em 2em 2em 2em;
  }
}
.textWrapper {
  margin: 2em 2em 2em 2em;
  @viewport(min-width: 550px) {
    margin: 5em 2em 2em 2em;
  }
}
.textTitle {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  color: #F4F3ED;
}
.mealText {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #F4F3ED;
}

.btn-primary {
  border-radius: 15px;
  padding: 4px 20px 4px 20px;
  background-color: #CA7062;;
  color: #F4F3ED;
  border-width: 0px;
}

.btn-primary:hover {
  background-color: #a65b50;
}

a {
  color:black;
}
a:hover {
  color: #CA7062;
  text-decoration: none;
}
